In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df =pd.read_csv('weather.csv')
df

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [4]:
df.shape

(14, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   outlook      14 non-null     object
 1   temperature  14 non-null     object
 2   humidity     14 non-null     object
 3   windy        14 non-null     bool
 4   play         14 non-null     object
dtypes: bool(1), object(4)
memory usage: 594.0+ bytes

In [6]:
df.describe()

       outlook temperature humidity  windy play
count       14          14       14     14   14
unique       3           3        2      2    2
top      rainy        mild     high  False  yes
freq         5           6        7      8    9

In [7]:
df.isnull().sum()

outlook        0
temperature    0
humidity       0
windy          0
play           0
dtype: int64

In [8]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [ ]:
df['RainTomorrow'] = le.fit_transform(df['RainTomorrow'])
df['WindGustDir'] = le.fit_transform(df['WindGustDi'])
df['RainToday'] = le.fit_transform(df['RainToday'])

In [ ]:
sn.set(rc={'figure.figsize':(12, 12)})
hm=sn.heatmap(data=df.corr(), annot=True, annot_kws={'size': 8})
plt.show()